/* esbuild-sass-plugin:css-chunksrc/components/Footer/OneTrust/OneTrust.module.scss */
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--g-color-background);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.03em;
  line-height: 1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: top;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings::before {
  transform: translateX(-100%);
}
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings::before,
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings::after {
  background: var(--g-color-background);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:hover,
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:focus {
  background: transparent;
}
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:hover::before,
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:focus::before {
  animation: 0.8s cubic-bezier(0.5, 0, 0, 1) 0s 1 normal forwards running grbc_OneTrust-module_text-main-slide-out_N1FV;
}
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:hover::after,
.grbc_OneTrust-module_oneTrustButton_E6se > #ot-sdk-btn.ot-sdk-show-settings:focus::after {
  animation: 0.8s cubic-bezier(0.5, 0, 0, 1) 0s 1 normal forwards running grbc_OneTrust-module_text-main-slide-in_XGP2;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ContactUsDrawer.module.scss */
.grbc_ContactUsDrawer-module_drawerWrapper_ZFNx {
  transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1);
  visibility: visible;
}
.grbc_ContactUsDrawer-module_drawerWrapper_ZFNx[aria-hidden=true] {
  pointer-events: none;
  user-select: none;
}
.grbc_ContactUsDrawer-module_drawerContentContainer_GFi- {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media screen and (min-width: 1024px) {
  .grbc_ContactUsDrawer-module_drawerContentContainer_GFi- {
    max-width: 440px;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/ClientServices.module.scss */
.grbc_ClientServices-module_contactUsItemWrapper_RQ5C {
  padding-bottom: 2.5rem;
  white-space: pre-line;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/WhatsAppNumber/WhatsAppNumber.module.scss */
.grbc_WhatsAppNumber-module_whatsAppNumberDetails_sHQs {
  padding-top: 0.5rem;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/WhatsAppConnect/WhatsAppConnect.module.scss */
.grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
  flex: 1;
  margin: 0 0 0 1.5rem;
}
[dir=rtl] .grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
  margin: 0 1.5rem 0 0;
}
@media screen and (min-width: 1024px) {
  .grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
    margin-left: unset;
  }
}
.grbc_WhatsAppConnect-module_title_DeQB {
  padding-top: 2rem;
}
.grbc_WhatsAppConnect-module_message_NoTY {
  margin: 1rem 0 0;
}
.grbc_WhatsAppConnect-module_whatsAppWebLink_o1bM {
  display: flex;
  margin: 0;
}
.grbc_WhatsAppConnect-module_qrCodeContainer_bfKs {
  display: block;
  width: 200px;
  margin: 2.5rem 0;
}
.grbc_WhatsAppConnect-module_image_as5A {
  object-fit: cover;
  transition: visibility 0.8s cubic-bezier(0.5, 0, 0, 1);
  visibility: visible;
}
.grbc_WhatsAppConnect-module_image_as5A[data-hidden=true] {
  visibility: hidden;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/DrawerContent/DrawerContent.module.scss */
.grbc_DrawerContent-module_anchorWrapper_ovmp {
  padding-top: 1.5rem;
}
.grbc_DrawerContent-module_headingWrapper_P4fl {
  padding-bottom: 2.5rem;
}
.grbc_DrawerContent-module_messageWrapper_StsJ {
  margin: 0;
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY {
  display: flex;
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true] {
  width: calc(200% + 3rem - 2px);
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
  transform: translateX(0);
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true] {
    width: 240%;
  }
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
  transform: translateX(calc(-50% - 1.5rem));
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
    transform: translateX(-50%);
  }
}
[dir=rtl] .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
  transform: translateX(calc(50% + 1.5rem));
}
@media screen and (min-width: 1024px) {
  [dir=rtl] .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
    transform: translateX(50%);
  }
}
.grbc_DrawerContent-module_clientServicesContainer_78nF {
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_clientServicesContainer_78nF[data-multislide=true] {
    margin: 0 1.5rem 0 0;
  }
  [dir=rtl] .grbc_DrawerContent-module_clientServicesContainer_78nF[data-multislide=true] {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_clientServicesContainer_78nF {
    margin-right: unset;
  }
}
.grbc_DrawerContent-module_clientServicesContainer_78nF p {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_marginContainer_FX1-[data-multislide=true] {
    margin: 0 5.5rem 0 0;
  }
  [dir=rtl] .grbc_DrawerContent-module_marginContainer_FX1-[data-multislide=true] {
    margin: 0 0 0 5.5rem;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/ContactUs/ContactUs.module.scss */
.grbc_ContactUs-module_hiddenLink_6sS6 {
  display: none;
}
.grbc_ContactUs-module_text_Mcfx {
  font-weight: 500;
  text-transform: capitalize;
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/FooterGroup/FooterGroup.module.scss */
.grbc_FooterGroup-module_footerGroupWrapper_Csao {
  padding-bottom: 1.5rem;
}
.grbc_FooterGroup-module_footerGroupWrapper_Csao:last-child {
  padding-bottom: 0;
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/FooterSection/FooterSection.module.scss */
@media screen and (min-width: 1024px) {
  .grbc_FooterSection-module_footerSection_0J29.grbc_FooterSection-module_footerSection_0J29 {
    gap: 5rem 1.5rem;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/StoreLocator/StoreLocator.module.scss */
.grbc_StoreLocator-module_storeLocatorContainer_DTcy {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .grbc_StoreLocator-module_storeLocatorContainer_DTcy {
    margin-bottom: 3rem;
  }
  .grbc_StoreLocator-module_storeLocatorContainer_DTcy input:focus-visible {
    outline: none;
  }
}
.grbc_StoreLocator-module_storeLocatorInputHelperText_ey6M {
  display: none;
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/Footer.module.scss */
.grbc_Footer-module_footer_smP7 {
  background-color: var(--g-color-foreground);
  color: var(--g-color-background);
}
.grbc_Footer-module_footerSection_Nacp {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 3rem 1rem;
}
@media screen and (min-width: 768px) {
  .grbc_Footer-module_footerSection_Nacp {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_Footer-module_footerSection_Nacp {
    padding: 5rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_Footer-module_footerContent_ZK4E.grbc_Footer-module_footerContent_ZK4E {
    gap: 0 1.5rem;
  }
}
.grbc_Footer-module_footerContentMiddleDesktop_wc3U {
  display: none;
}
@media screen and (min-width: 1024px) {
  .grbc_Footer-module_footerContentMiddleDesktop_wc3U {
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_Footer-module_footerContentMobile_ovLq {
    display: none;
  }
}
.grbc_Footer-module_footerSectionHeading_ni0e {
  color: var(--g-color-background) !important;
  opacity: 0.5;
  margin-bottom: 24px;
}
.grbc_Footer-module_footerContentSecondary_AlAi {
  padding: 5rem 0;
}
@media screen and (min-width: 1024px) {
  .grbc_Footer-module_footerContentSecondary_AlAi {
    padding: 6.5rem 0;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/Newsletter/Newsletter.module.scss */
.grbc_Newsletter-module_newsletterContainer_3-up {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
@media screen and (min-width: 1024px) {
  .grbc_Newsletter-module_newsletterContainer_3-up {
    margin-bottom: 3rem;
  }
  .grbc_Newsletter-module_newsletterContainer_3-up input:focus-visible {
    outline: none;
  }
}
.grbc_Newsletter-module_consent_iPiO {
  color: var(--g-color-background);
  margin-bottom: 0.5rem;
}
.grbc_Newsletter-module_consent_iPiO p {
  margin: 1rem 0;
}
.grbc_Newsletter-module_consent_iPiO p a {
  text-decoration: none;
  display: inline-flex;
}
.grbc_Newsletter-module_newsletterHeading_o2yE.grbc_Newsletter-module_newsletterHeading_o2yE {
  margin-bottom: 0.5rem;
}

/* esbuild-sass-plugin:css-chunksrc/components/common/flyout.module.scss */
.grbc_flyout-module_flyoutContent_j1-I {
  background: var(--g-color-background, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: block;
}
.grbc_flyout-module_flyoutContent_j1-I[data-isopen=false] {
  display: none;
}
.grbc_flyout-module_flyoutContent_j1-I > span:first-child {
  position: absolute;
  transform: translate(0, -12px);
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/FooterIconGroup/GucciAppFlyout.module.scss */
.grbc_GucciAppFlyout-module_flyoutContainer_L86K a,
.grbc_GucciAppFlyout-module_flyoutContainer_L86K button {
  color: var(--g-color-foreground);
}
.grbc_GucciAppFlyout-module_flyoutContainer_L86K {
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -143px);
  width: 155px;
}
.grbc_GucciAppFlyout-module_flyoutContainer_L86K > span:first-child {
  display: none;
}
.grbc_GucciAppFlyout-module_flyoutContainer_L86K > ul {
  border-radius: 5px;
  margin: 0;
}
.grbc_GucciAppFlyout-module_flyoutContainer_L86K svg {
  vertical-align: top;
  float: right;
}
[dir=rtl] .grbc_GucciAppFlyout-module_flyoutContainer_L86K svg {
  vertical-align: top;
  float: left;
  transform: scaleX(-1);
}
@media screen and (min-width: 768px) {
  .grbc_GucciAppFlyout-module_flyoutContainer_L86K {
    transform: translate(0, -126px);
  }
  .grbc_GucciAppFlyout-module_flyoutContainer_L86K > span:first-child {
    right: 92px;
  }
}
.grbc_GucciAppFlyout-module_flyoutList_tCw5 {
  background-color: var(--g-color-background);
  padding: 0 10px;
}
.grbc_GucciAppFlyout-module_flyoutList_tCw5 li {
  border-bottom: 1px solid var(--g-color-foreground);
  list-style: none;
}
.grbc_GucciAppFlyout-module_flyoutList_tCw5 li a {
  display: block;
  padding: 9px 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}
.grbc_GucciAppFlyout-module_flyoutList_tCw5 li:last-child {
  border-bottom: none;
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/FooterIconGroup/FooterIconGroup.module.scss */
.grbc_FooterIconGroup-module_iconWrapper_wuKZ {
  flex: 1;
}
.grbc_FooterIconGroup-module_iconWrapper_wuKZ button {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}
.grbc_FooterIconGroup-module_iconWrapper_wuKZ.grbc_FooterIconGroup-module_gucciApp_mUN6 {
  max-width: 40px;
}
.grbc_FooterIconGroup-module_iconWrapper_wuKZ.grbc_FooterIconGroup-module_gucciGarden_GJV0 {
  max-width: 64px;
}
.grbc_FooterIconGroup-module_iconWrapper_wuKZ.grbc_FooterIconGroup-module_gucciPalazzo_OYk- {
  max-width: 160px;
}
.grbc_FooterIconGroup-module_iconGroupWrapper_ctvq {
  display: flex;
  gap: 2rem;
  align-items: center;
  max-width: 343px;
}
.grbc_FooterIconGroup-module_iconGroupWrapper_ctvq a svg:only-child,
.grbc_FooterIconGroup-module_iconGroupWrapper_ctvq button svg:only-child {
  outline-offset: inherit;
  outline: inherit;
}
.grbc_FooterIconGroup-module_iconGroupWrapper_ctvq a:focus-visible,
.grbc_FooterIconGroup-module_iconGroupWrapper_ctvq button:focus-visible {
  outline-offset: 0;
  outline: 3px solid var(--g-color-accessibility);
}

/* esbuild-sass-plugin:css-chunksrc/components/Footer/Copyright/Copyright.module.scss */
.grbc_Copyright-module_copyright_EvGp {
  margin-top: 1.5rem;
}
.grbc_Copyright-module_copyright_EvGp a {
  text-decoration: none;
  display: inline-flex;
}

