/* esbuild-sass-plugin:css-chunksrc/components/Header/Logo/Logo.module.scss */
.grbc_Logo-module_logoContainer_4S1O {
  transition:
    opacity 0.8s cubic-bezier(0.5, 0, 0, 1),
    width 0.8s cubic-bezier(0.5, 0, 0, 1),
    transform 0.8s cubic-bezier(0.5, 0, 0, 1),
    padding-bottom 0.8s cubic-bezier(0.5, 0, 0, 1);
  width: 143px;
  height: 0;
  padding-bottom: 0;
  will-change:
    width,
    transform,
    padding-bottom;
  transform: translate3d(0, -24px, 0);
}
.grbc_Logo-module_logoContainer_4S1O[data-expanded=true] {
  width: 100%;
  transform: translate3d(0, 24px, 0);
  height: auto;
  padding-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .grbc_Logo-module_logoContainer_4S1O {
    margin: 0 auto;
  }
}
.grbc_Logo-module_logoContainer_4S1O a svg {
  outline-offset: inherit;
  outline: inherit;
}
.grbc_Logo-module_logoContainer_4S1O a:focus-visible {
  outline-offset: 0;
  outline: 3px solid var(--g-color-accessibility);
}
.grbc_Logo-module_logoAnchor_s3wN {
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .grbc_Logo-module_logoAnchor_s3wN {
    flex-grow: unset;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/SkipToMainContent/SkipToMainContent.module.scss */
.grbc_SkipToMainContent-module_skipLinkContainer_Oh9s {
  position: absolute;
  transform: translateY(-20px);
}
.grbc_SkipToMainContent-module_skipLinkContainer_Oh9s a {
  display: inline-block;
  top: 0;
  transform: translateX(-10000px);
}
.grbc_SkipToMainContent-module_skipLinkContainer_Oh9s a:focus {
  transform: translateX(0);
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/SSA/StoreSelector/StoreSelector.module.scss */
.grbc_StoreSelector-module_storeSelector_bwuk {
  padding-bottom: 2.5rem;
}
.grbc_StoreSelector-module_title_t0vk {
  padding-bottom: 2.5rem;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/SSA/SalesServices/SalesServices.module.scss */
.grbc_SalesServices-module_title_9a6i {
  padding-bottom: 2.5rem;
}
.grbc_SalesServices-module_divider_LF4o {
  margin: 2.5rem 0 2rem;
  background-color: var(--g-color-divider);
  color: var(--g-color-divider);
  border: 0 none;
  height: 1px;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/SSA/SSADrawer/SSADrawer.module.scss */
.grbc_SSADrawer-module_drawerContent_s0zZ {
  width: 100%;
  box-sizing: border-box;
  height: 80vh;
  overflow: hidden;
}
.grbc_SSADrawer-module_title_l-Te {
  padding-bottom: 2.5rem;
}
.grbc_SSADrawer-module_contactUs_rb5R {
  padding-top: 2.5rem;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/SSA/SSABanner.module.scss */
.grbc_SSABanner-module_container_Uq0c {
  height: 3rem;
  background-color: var(--g-color-foreground);
  cursor: pointer;
  visibility: hidden;
}
.grbc_SSABanner-module_container_Uq0c[data-hidden=false] {
  visibility: visible;
}
.grbc_SSABanner-module_contentWrapper_SWkr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .grbc_SSABanner-module_contentWrapper_SWkr {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_SSABanner-module_contentWrapper_SWkr {
    padding: 1rem 4rem;
  }
}
.grbc_SSABanner-module_ssaAccount_qqIF {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.grbc_SSABanner-module_currentStore_crZl {
  color: var(--g-color-background);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
}
.grbc_SSABanner-module_ssaUserName_25-L {
  color: var(--g-color-background);
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/HeaderActions/HeaderActions.module.scss */
.grbc_HeaderActions-module_wrapper_LhyU {
  align-items: baseline;
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
}
.grbc_HeaderActions-module_wrapper_LhyU > li {
  padding-left: 1rem;
}
@media screen and (min-width: 1024px) {
  .grbc_HeaderActions-module_wrapper_LhyU > li {
    padding-left: 1.5rem;
  }
}
[dir=rtl] .grbc_HeaderActions-module_wrapper_LhyU > li {
  padding-right: 1rem;
  padding-left: 0;
}
@media screen and (min-width: 1024px) {
  [dir=rtl] .grbc_HeaderActions-module_wrapper_LhyU > li {
    padding-right: 1.5rem;
  }
}
.grbc_HeaderActions-module_wrapper_LhyU > li > button,
.grbc_HeaderActions-module_wrapper_LhyU > li > nav > button {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  gap: 0.5rem;
  padding: 0;
}
.grbc_HeaderActions-module_mini-bag-wrapper_EyOU {
  display: grid;
}
.grbc_HeaderActions-module_mini-bag-wrapper_EyOU > * {
  grid-area: 1/1;
}
.grbc_HeaderActions-module_mini-bag-wrapper_EyOU > button,
.grbc_HeaderActions-module_mini-bag-wrapper_EyOU > nav > button {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  gap: 0.5rem;
  padding: 0;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/MyAccount/MyAccountList/MyAccountList.module.scss */
.grbc_MyAccountList-module_flyoutList_Wz4L {
  padding: 2rem 1rem;
}
.grbc_MyAccountList-module_flyoutList_Wz4L li {
  list-style: none;
  margin-bottom: 2rem;
}
.grbc_MyAccountList-module_flyoutList_Wz4L li a {
  text-decoration: none;
}
.grbc_MyAccountList-module_flyoutList_Wz4L li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.grbc_MyAccountList-module_flyoutItemBorder_gxcD {
  padding-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* esbuild-sass-plugin:css-chunksrc/components/common/flyout.module.scss */
.grbc_flyout-module_flyoutContent_j1-I {
  background: var(--g-color-background, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: block;
}
.grbc_flyout-module_flyoutContent_j1-I[data-isopen=false] {
  display: none;
}
.grbc_flyout-module_flyoutContent_j1-I > span:first-child {
  position: absolute;
  transform: translate(0, -12px);
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/MyAccount/MyAccountFlyout/MyAccountFlyout.module.scss */
.grbc_MyAccountFlyout-module_flyoutContainer_4urM {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 1rem;
  z-index: 10;
  transform: translate(0, 16px);
  position: fixed;
  left: 0;
  right: 0;
}
.grbc_MyAccountFlyout-module_flyoutContainer_4urM > span:first-child {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grbc_MyAccountFlyout-module_flyoutContainer_4urM {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_MyAccountFlyout-module_flyoutContainer_4urM {
    min-width: 220px;
    margin: 0;
    position: absolute;
    left: unset;
    right: 0;
  }
  [dir=rtl] .grbc_MyAccountFlyout-module_flyoutContainer_4urM {
    left: 0;
    right: unset;
  }
  .grbc_MyAccountFlyout-module_flyoutContainer_4urM > span:first-child {
    display: none;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/NavigationButton/NavigationButton.module.scss */
.grbc_NavigationButton-module_nav_GMGf {
  display: contents;
}
.grbc_NavigationButton-module_menuText_i8IG {
  display: none;
  text-transform: uppercase;
  transition: color 0.8s cubic-bezier(0.5, 0, 0, 1);
}
@media screen and (min-width: 1024px) {
  .grbc_NavigationButton-module_menuText_i8IG {
    display: block;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/Cart/MiniCart/MiniCart.module.scss */
.grbc_MiniCart-module_miniCartHeader_z7pi {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.grbc_MiniCart-module_title_3YUi {
  color: var(--g-color-foreground, #000);
  flex-grow: 1;
  padding: 20px 0;
  text-align: center;
}
.grbc_MiniCart-module_closeButton_rYzy {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
}
.grbc_MiniCart-module_cartItemList_7vng {
  border-bottom: 1px solid #ccc;
  max-height: 260px;
  overflow: hidden auto;
  padding: 20px 10px 0;
  margin: 0;
}
.grbc_MiniCart-module_cartItemList_7vng a,
.grbc_MiniCart-module_cartItemList_7vng button {
  color: var(--g-color-foreground);
}
.grbc_MiniCart-module_cartItemList_7vng > li {
  list-style: none;
}
.grbc_MiniCart-module_cartItemList_7vng > li > a {
  text-decoration: none;
  display: block;
  padding: 0;
}
.grbc_MiniCart-module_cartItemList_7vng > li > a::before {
  height: 0;
}
.grbc_MiniCart-module_cartItemList_7vng > li > a:hover,
.grbc_MiniCart-module_cartItemList_7vng > li > a:focus {
  background-color: transparent;
}
.grbc_MiniCart-module_cartItem_Uqpb {
  padding-bottom: 20px;
}
.grbc_MiniCart-module_cartItem_Uqpb img {
  margin: 15px 5px 0 0;
  width: 135px;
}
.grbc_MiniCart-module_cartItemContainer_LfUM {
  display: flex;
}
.grbc_MiniCart-module_cartItemPicture_ZroW img {
  height: 150px;
  width: 150px;
}
@media screen and (min-width: 1024px) {
  .grbc_MiniCart-module_cartItemPicture_ZroW img {
    height: auto;
    width: auto;
  }
}
.grbc_MiniCart-module_cartItemInfo_hW54 {
  font-size: 12px;
  font-weight: 200;
  text-align: left;
  margin-left: 15px;
  margin-right: 0;
}
[dir=rtl] .grbc_MiniCart-module_cartItemInfo_hW54 {
  text-align: right;
  margin-left: 0;
  margin-right: 15px;
}
.grbc_MiniCart-module_cartItemTitle_W5sZ {
  display: block;
}
.grbc_MiniCart-module_cartItemPrice_Hwwt {
  display: block;
  margin-top: 12px;
}
.grbc_MiniCart-module_cartItemInfoList_yljk {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}
.grbc_MiniCart-module_cartItemInfoList_yljk li {
  margin-bottom: 8px;
  line-height: 16px;
  padding: 3px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.grbc_MiniCart-module_miniCartFooter_FBFc {
  display: flex;
  flex-direction: column;
  margin: 16px 24px;
  gap: 16px;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/Cart/MiniCartFlyout/MiniCartFlyout.module.scss */
.grbc_MiniCartFlyout-module_flyoutContainer_m-q1 {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
  position: relative;
  left: unset;
  right: 0;
}
.grbc_MiniCartFlyout-module_flyoutContainer_m-q1 > span:first-child {
  display: none;
}
[dir=rtl] .grbc_MiniCartFlyout-module_flyoutContainer_m-q1 {
  left: 0;
  right: unset;
}
@media screen and (min-width: 768px) {
  .grbc_MiniCartFlyout-module_flyoutContainer_m-q1 {
    margin: 0;
    width: 488px;
  }
}
.grbc_MiniCartFlyout-module_miniCartFixedContainer_2E-F {
  left: 0;
  margin: auto;
  max-width: 1440px;
  position: fixed;
  right: 0;
  top: var(--g-rbc-header-height, 32px);
  width: 100%;
  z-index: var(--g-header-minicart-z-index, 101);
}
.grbc_MiniCartFlyout-module_miniCartFixedContainer_2E-F[data-open=false] {
  z-index: 0;
}
.grbc_MiniCartFlyout-module_miniCartFixedContainer_2E-F[data-expanded=true] {
  margin-top: var(--g-rbc-header-base-height, 72px);
}
.grbc_MiniCartFlyout-module_miniCartFixedContainer_2E-F[data-expanded=true][data-transparent=false] {
  margin-top: 0;
}
.grbc_MiniCartFlyout-module_miniCartFixedContainer_2E-F[data-expanded=false][data-transparent=true] {
  margin-top: var(--g-rbc-header-base-height, 72px);
}
.grbc_MiniCartFlyout-module_miniCartContainer_kUzO {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .grbc_MiniCartFlyout-module_miniCartContainer_kUzO {
    justify-content: flex-end;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/Cart/Cart.module.scss */
.grbc_Cart-module_cartIconButton_Nl-z {
  position: relative;
}
.grbc_Cart-module_cartCounter_LLHi {
  font-size: 9px;
  font-weight: 800;
  position: absolute;
  top: 5.5px;
  right: 4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.8s cubic-bezier(0.5, 0, 0, 1);
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ContactUsDrawer.module.scss */
.grbc_ContactUsDrawer-module_drawerWrapper_ZFNx {
  transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1);
  visibility: visible;
}
.grbc_ContactUsDrawer-module_drawerWrapper_ZFNx[aria-hidden=true] {
  pointer-events: none;
  user-select: none;
}
.grbc_ContactUsDrawer-module_drawerContentContainer_GFi- {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media screen and (min-width: 1024px) {
  .grbc_ContactUsDrawer-module_drawerContentContainer_GFi- {
    max-width: 440px;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/ClientServices.module.scss */
.grbc_ClientServices-module_contactUsItemWrapper_RQ5C {
  padding-bottom: 2.5rem;
  white-space: pre-line;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/WhatsAppNumber/WhatsAppNumber.module.scss */
.grbc_WhatsAppNumber-module_whatsAppNumberDetails_sHQs {
  padding-top: 0.5rem;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/ClientServices/WhatsAppConnect/WhatsAppConnect.module.scss */
.grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
  flex: 1;
  margin: 0 0 0 1.5rem;
}
[dir=rtl] .grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
  margin: 0 1.5rem 0 0;
}
@media screen and (min-width: 1024px) {
  .grbc_WhatsAppConnect-module_whatsAppConnect_M-fs {
    margin-left: unset;
  }
}
.grbc_WhatsAppConnect-module_title_DeQB {
  padding-top: 2rem;
}
.grbc_WhatsAppConnect-module_message_NoTY {
  margin: 1rem 0 0;
}
.grbc_WhatsAppConnect-module_whatsAppWebLink_o1bM {
  display: flex;
  margin: 0;
}
.grbc_WhatsAppConnect-module_qrCodeContainer_bfKs {
  display: block;
  width: 200px;
  margin: 2.5rem 0;
}
.grbc_WhatsAppConnect-module_image_as5A {
  object-fit: cover;
  transition: visibility 0.8s cubic-bezier(0.5, 0, 0, 1);
  visibility: visible;
}
.grbc_WhatsAppConnect-module_image_as5A[data-hidden=true] {
  visibility: hidden;
}

/* esbuild-sass-plugin:css-chunksrc/components/ContactUsDrawer/DrawerContent/DrawerContent.module.scss */
.grbc_DrawerContent-module_anchorWrapper_ovmp {
  padding-top: 1.5rem;
}
.grbc_DrawerContent-module_headingWrapper_P4fl {
  padding-bottom: 2.5rem;
}
.grbc_DrawerContent-module_messageWrapper_StsJ {
  margin: 0;
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY {
  display: flex;
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true] {
  width: calc(200% + 3rem - 2px);
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
  transform: translateX(0);
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true] {
    width: 240%;
  }
}
.grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
  transform: translateX(calc(-50% - 1.5rem));
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
    transform: translateX(-50%);
  }
}
[dir=rtl] .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
  transform: translateX(calc(50% + 1.5rem));
}
@media screen and (min-width: 1024px) {
  [dir=rtl] .grbc_DrawerContent-module_drawerContentContainer_1yzY[data-multislide=true][data-whatsapp-qr-code=true] {
    transform: translateX(50%);
  }
}
.grbc_DrawerContent-module_clientServicesContainer_78nF {
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_clientServicesContainer_78nF[data-multislide=true] {
    margin: 0 1.5rem 0 0;
  }
  [dir=rtl] .grbc_DrawerContent-module_clientServicesContainer_78nF[data-multislide=true] {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_clientServicesContainer_78nF {
    margin-right: unset;
  }
}
.grbc_DrawerContent-module_clientServicesContainer_78nF p {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .grbc_DrawerContent-module_marginContainer_FX1-[data-multislide=true] {
    margin: 0 5.5rem 0 0;
  }
  [dir=rtl] .grbc_DrawerContent-module_marginContainer_FX1-[data-multislide=true] {
    margin: 0 0 0 5.5rem;
  }
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/ContactUs/ContactUs.module.scss */
.grbc_ContactUs-module_button_l6rZ {
  align-items: center;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  gap: 0.5rem;
  color: inherit;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .grbc_ContactUs-module_button_l6rZ {
    display: inherit;
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1), visibility 0.8s cubic-bezier(0.5, 0, 0, 1);
    visibility: visible;
    pointer-events: unset;
  }
  .grbc_ContactUs-module_button_l6rZ :focus-within {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  }
  .grbc_ContactUs-module_button_l6rZ[data-hide=true] {
    opacity: 0;
    pointer-events: none;
  }
}
.grbc_ContactUs-module_button_l6rZ span {
  transition: color 0.8s cubic-bezier(0.5, 0, 0, 1);
}
.grbc_ContactUs-module_button_l6rZ svg {
  transition: rotate 0.8s cubic-bezier(0.5, 0, 0, 1);
}
.grbc_ContactUs-module_button_l6rZ :hover svg {
  rotate: 90deg;
}

/* esbuild-sass-plugin:css-chunksrc/components/Header/Header.module.scss */
.grbc_Header-module_headerContainer_dRLt {
  position: relative;
  color: var(--g-color-foreground);
  transition: min-height 0.8s cubic-bezier(0.5, 0, 0, 1);
  will-change: min-height;
  z-index: var(--g-header-container-z-index, 100);
  min-height: var(--g-rbc-header-height, --g-header-expanded-height);
}
.grbc_Header-module_headerContainer_dRLt[data-expanded=true][data-transparent=false] {
  --g-rbc-logo-width: calc(100vw - 2rem);
  min-height: calc(var(--g-rbc-logo-width) / 6.247 + var(--g-rbc-header-height, --g-header-expanded-height) + 1.5rem);
}
@media screen and (min-width: 768px) {
  .grbc_Header-module_headerContainer_dRLt[data-expanded=true][data-transparent=false] {
    --g-rbc-logo-width: calc(100vw - 4rem);
  }
}
@media screen and (min-width: 1024px) {
  .grbc_Header-module_headerContainer_dRLt[data-expanded=true][data-transparent=false] {
    --g-rbc-logo-width: calc(100vw - 8rem);
  }
}
@media screen and (min-width: 1366px) {
  .grbc_Header-module_headerContainer_dRLt[data-expanded=true][data-transparent=false] {
    --g-rbc-logo-width: calc(1440px - 8rem);
  }
}
.grbc_Header-module_headerContainer_dRLt a,
.grbc_Header-module_headerContainer_dRLt button {
  color: var(--g-color-foreground);
}
.grbc_Header-module_fixedContainer_CJqx {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--g-color-background);
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
}
.grbc_Header-module_fixedContainer_CJqx[data-g-scroll-down=true] {
  transform: translateY(-100%);
}
.grbc_Header-module_fixedContainer_CJqx[data-transparent=true] {
  background: transparent;
}
.grbc_Header-module_fixedContainer_CJqx[data-is-big-logo=false],
.grbc_Header-module_fixedContainer_CJqx[data-transparent=false] {
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1), background 0.8s cubic-bezier(0.5, 0, 0, 1);
  will-change: background;
}
.grbc_Header-module_contentContainer_y3G0 {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1.5rem 1rem;
}
.grbc_Header-module_contentContainer_y3G0[data-transparent=true] {
  --g-color-foreground: var( --g-header-transparent-foreground-color, var(--g-color-white, #fff) );
}
.grbc_Header-module_contentContainer_y3G0[data-transparent=true][data-transparent-inversed=true] {
  --g-color-foreground: var( --g-header-transparent-foreground-color, var(--g-color-black, #000) );
}
@media screen and (min-width: 768px) {
  .grbc_Header-module_contentContainer_y3G0 {
    padding: 1.5rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .grbc_Header-module_contentContainer_y3G0 {
    padding: 1.5rem 4rem;
  }
}
.grbc_Header-module_headerContent_SfOp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 24px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .grbc_Header-module_headerContent_SfOp {
    justify-content: space-between;
  }
}
.grbc_Header-module_scrollHandleContainer_rn3g {
  height: 0;
  transition: height 0.3s cubic-bezier(0.5, 0, 0, 1);
  overflow: hidden;
}
.grbc_Header-module_scrollHandleContainer_rn3g[data-show=true] {
  height: 40px;
}

/* src/components/Header/Header.global.scss */
.g-header-transparency-override[data-header-transparency-mode=opaque] .g-rbc-header-sentinel-node,
.g-header-transparency-override[data-header-transparency-mode=transparent] .g-rbc-header-sentinel-node {
  display: inline-block;
  position: fixed;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  pointer-events: none;
  user-select: none;
}
.g-header-transparency-override[data-header-transparency-mode=opaque] .g-rbc-header-sentinel-node {
  left: -120vw;
  top: -120vh;
}
.g-header-transparency-override[data-header-transparency-mode=transparent] .g-rbc-header-sentinel-node {
  left: 44vw;
  top: 44vh;
}

